<ng-progress id="custom-ngx-progressbar" aria-hidden="true"></ng-progress>
<router-outlet></router-outlet>
<div class="main">
  <label style="font-size: 1.5rem;">ngx-progressbar - Using NGRX Demo</label>
  <!-- progress bar buttons -->
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="startProgressbar($event)">
      Start
    </button>
    <button mat-raised-button color="accent" (click)="completeProgressbar($event)">
      Complete
    </button>
  </div>
  <!-- End of progress bar buttons -->
  
  <!-- link to the angular material progress bar -->
  <label
    >For more ngx-progressbar configuration visit
    <a
      href="https://github.com/MurhafSousli/ngx-progressbar"
      target="_blank"
      style="color: wheat;"
      >here</a
    >.</label
  >
  <!-- end link to the angular material progress bar -->
  <footer class="footer">
    <div class="footer-flex">
      <a
        href="https://github.com/chandru415/ngrx-ngx-progressbar"
        target="_blank"
        title="View Source Code"
      >
        <i class="fa fa-github" aria-hidden="true"></i
      ></a>
      <p>
        chandru415 <i class="fa fa-copyright" aria-hidden="true"></i> 2021 -
        {{ copyright$ | async | date:'yyyy'}} MIT.
      </p>
    </div>
  </footer>
</div>