$white: #fff; // - white
$black: #000; // - black
$mid-green: #0aa32b; // - mid  green
$orange: #ffa500; // orange
$transparent: Transparent;
$red: #ff0000; // red

.main {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      circle at 57% 36%,
      hsla(263, 0%, 78%, 0.04) 0%,
      hsla(263, 0%, 78%, 0.04) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 22% 61%,
      hsla(263, 0%, 78%, 0.04) 0%,
      hsla(263, 0%, 78%, 0.04) 36%,
      transparent 36%,
      transparent 100%
    ),
    radial-gradient(
      circle at 68% 97%,
      hsla(263, 0%, 78%, 0.04) 0%,
      hsla(263, 0%, 78%, 0.04) 41%,
      transparent 41%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 89%,
      hsla(263, 0%, 78%, 0.04) 0%,
      hsla(263, 0%, 78%, 0.04) 30%,
      transparent 30%,
      transparent 100%
    ),
    radial-gradient(
      circle at 39% 80%,
      hsla(263, 0%, 78%, 0.04) 0%,
      hsla(263, 0%, 78%, 0.04) 22%,
      transparent 22%,
      transparent 100%
    ),
    radial-gradient(
      circle at 88% 71%,
      hsla(263, 0%, 78%, 0.04) 0%,
      hsla(263, 0%, 78%, 0.04) 30%,
      transparent 30%,
      transparent 100%
    ),
    linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));

  label {
    color: $black;
    text-align: center;
    padding: 5%;
    display: block;
  }
}

label {
  color: $black;
  text-align: center;
  padding: 5%;
  display: block;
}

.button-row {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  & button {
    margin: 5px;
  }
}

::ng-deep .mat-raised-button.mat-primary {
  background-color: $mid-green;
}

::ng-deep .mat-raised-button.mat-accent {
  background-color: $orange;
}

::ng-deep .mat-raised-button {
  line-height: 20px !important;
  font-size: 10px !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $black;
  text-align: center;
  padding: 2%;
  opacity: 0.6;

  & a {
    color: $black;
  }

  .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      padding-top: 2px;
      margin-right: 5px;
    }

    p {
      font-size: 8px;
    }
  }
}
